h2 {
    font-size: 20px;
}

.navbar {
  display: flex;
  justify-content: center; /* yatay ortalar */
  align-items: center;     /* dikey ortalar (yükseklik varsa) */
  gap: 20px;               /* yazılar arası boşluk */
}

span {
   display:inline-block;    /* İnline block yapar */
   margin: 10px;
}

p {
  font-size: 17px;
}

.container {
    display: flex;        /* yatay 3 kutucuk yapar */
    justify-content: space-between;       /* arasında bosluk yapar */
    gap: 20px;
}

.box {
    width: 33%;                     /* Kutu sayısı kadar 100/x */
    background-color: #f3f3f3;
    padding: 15px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
    }
}